{% extends "base.html" %}
{% load analysis_extras %}

{% block title %}首页{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" style="margin: 10px 0;">
                <div class="panel-heading">往期回顾</div>
                <table class="table table-hover table-bordered">
                    <th>周期</th>
                    <th>号码1</th>
                    <th>号码2</th>
                    <th>号码3</th>
                    <th>和值</th>
                    <th>三期预期</th>
                    <th>五期预期</th>
                    <th>七期预期</th>
                    <th>九期预期</th>
                    <th>十一期预期</th>
                    <th>自定义预期</th>
                    <th>三期余额</th>
                    <th>五期余额</th>
                    <th>七期余额</th>
                    <th>九期余额</th>
                    <th>十一期余额</th>
                    <th>自定义余额</th>
                    {% for history_record in history_records %}
                        <tr>
                            <td>{{ history_record.period }}</td>
                            <td>{{ history_record.num_1 }}</td>
                            <td>{{ history_record.num_2 }}</td>
                            <td>{{ history_record.num_3 }}</td>
                            <td>{{ history_record.total }}</td>
                            <td>
                                {{ history_record.three_prediction }}
                                {% if history_record.total|valueConvert == history_record.three_prediction %}
                                    √
                                {% endif %}
                            </td>
                            <td>
                                {{ history_record.five_prediction }}
                                {% if history_record.total|valueConvert == history_record.five_prediction %}
                                    √
                                {% endif %}
                            </td>
                            <td>
                                {{ history_record.seven_prediction }}
                                {% if history_record.total|valueConvert == history_record.seven_prediction %}
                                    √
                                {% endif %}
                            </td>
                            <td>
                                {{ history_record.nine_prediction }}
                                {% if history_record.total|valueConvert == history_record.nine_prediction %}
                                    √
                                {% endif %}
                            </td>
                            <td>
                                {{ history_record.eleven_prediction }}
                                {% if history_record.total|valueConvert == history_record.eleven_prediction %}
                                    √
                                {% endif %}
                            </td>
                            <td>
                                {{ history_record.custom_prediction }}
                                 {% if history_record.total|valueConvert == history_record.custom_prediction %}
                                    √
                                {% endif %}
                            </td>
                            <td>{{ history_record.three_balance }}</td>
                            <td>{{ history_record.five_balance }}</td>
                            <td>{{ history_record.seven_balance }}</td>
                            <td>{{ history_record.nine_balance }}</td>
                            <td>{{ history_record.eleven_balance }}</td>
                            <td>{{ history_record.custom_balance }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script>
        function nums_reload() {
            setTimeout(function () {
                window.location.href = window.location.href;
            }, 1000);
        }
    </script>
{% endblock %}
